<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635853560635-99a74b41g95np09l66b5ietleq9m0a9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635853560635-99a74b41g95np09l66b5ietleq9m0a9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635853560635-las8rio1qboj507k23p7da213pn9rrdg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhkxKZWay_aWS9iKDdyJcqmjDGriyTtyg</string>
	<key>GCM_SENDER_ID</key>
	<string>635853560635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ombreAssignment</string>
	<key>PROJECT_ID</key>
	<string>ombre-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>ombre-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635853560635:ios:f132fea18114349a25751e</string>
</dict>
</plist>